!!! 5
%html
  %head
    %title Network Controlled Traffic Lights
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel: "stylesheet"}
    %link{href: "/css/impress.css", rel: "stylesheet"}
    %link{href: "/assets/styles.css", rel: "stylesheet"}

  %body
    #impress
      #first.step.slide(data-x="0" data-y="0")
        %q Controlling the
        %h1
          real world
          %sup *
        .footnote
          %sup *
          or maybe just an excuse to use the soldering iron

      #second.step.slide.bullets(data-x="1000" data-y="0")
        %p Have you ever wanted to
        %ul
          %li remotely start your coffee maker
          %li control your lights from somewhere else
          %li monitor and feed your fish tank
          %li automatically water your plants

      #third.step(data-x="1000" data-y="1000")
        %q Oh, maybe you wanted to do something cool?

      #fourth.step.slide.bullets(data-x="2000" data-y="1000")
        %p Instead you could
        %ul
          %li build your own instruments
          %li make a Daft Punk helmet
          %li use motion sensors to trigger MIDI signals
          %li make your music respond to the dance floor

      #fifth.step(data-x="3500" data-y="1000" data-scale="3" data-rotate="90")
        %q I decided to <b>annoy</b> and <b>shame</b> my coworkers
        .footnote
          (I'm sure I'll regret this)

      #sixth.step(data-x="0" data-y="-2000" data-scale="4")
        Say hello to the
        %h1 Arduino

      #seventh.step.slide(data-x="-4000" data-y="-2000" data-scale="2")
        #uno
          %img{src: '/images/ArduinoUno_R3_Front.jpeg'}
          $29.95
        #fio
          %img{src: '/images/ArduinoFio.jpeg'}
          $24.95
        .footnote
          (available in a number of shapes and sizes)

      #eigth.step.slide.bullets(data-x="-4000" data-y="-4000")
        %p The 3 basic components of the traffic light
        %ul
          %li light circuitry
          %li network adapter
          %li
            Arduino control
            %strong (software)

      #ninth.step(data-x="-2500" data-y="-4000")
        %p Don't worry, this stuff is easy
        %p
          %strong NO
          degree required
        .footnote (trust me)

      #tenth.step.slide(data-x="-1000" data-y="-4000")
        %h2 Light Circuitry
        %p How do you control 120VAC with a device running at 9VDC?
        .outer
          .inner
            %img.symbol{src: '/images/Relaysymbol.jpeg'}
            %img.relay{src: '/images/relay.jpeg'}
        %p.subtitle Relays!

      #eleventh.step.slide(data-x="0" data-y="-4000")
        %h2 Network Adapter
        %p Tons of premade modules already exist
        .outer
          .inner
            %img{src: '/images/ArduinoEthernetShield_R3_Front.jpeg'}
            $45.95
        %p.subtitle Yes, they stack!

      #twelfth.step.slide(data-x="1000" data-y="-4000")
        %h2 The Sketch (code)
        %script{src: 'https://gist.github.com/8f4f151667e4e7f9e864.js'}

      #thirteenth.step.slide(data-x="2000" data-y="-4000")
        %h2 Serial code is boring.
        %p Seriously, boring. Check it out on Github.
        %p
          %a{href: 'https://github.com/centro/Sir-Shamealot/blob/demo/traffic.pde'}
            https://github.com/centro/Sir-Shamealot
          %span (demo branch -- master only has ethernet, no serial due to memory constraints)
        %p Demos are fun.

      #fourteenth.step(data-x="4000" data-y="-3000" data-rotate="90" data-scale="3")
        %h1 Cool, but what can I do?

      #fifteenth.step.slide.bullets(data-x="4000" data-y="-6000" data-rotate="90")
        %h2 A few other ways to trigger events
        %ul
          %li Processing
          %li Max/MSP
          %li Buttons
          %li Sensors (pressure, temperature, light, audio)
          %li MIDI (as a controller or an instrument)

      #sixteenth.step.slide(data-x="3000" data-y="-6000")
        %h3 MIDI, could it be any easier?
        .outer
          .inner
            %img{src: '/images/MIDI_schem.png'}

        %p.subtitle
          3 wires, 1 resistor and a complete library for reading and writing!
          %a{href: 'http://arduino.cc/playground/Main/MIDILibrary'} http://arduino.cc/playground/Main/MIDILibrary

      #seventeenth.step(data-x="1500" data-y="-6000" data-rotate="270")
        %p.one Are the gears turning yet?
        %p.two What could you build?

      #eighteenth.step.slide.bullets(data-x="0" data-y="-6000")
        %h3 Thanks for listening!

        Useful links
        %ul
          %li
            %a{href: 'http://arduino.cc'} http://arduino.cc
          %li
            %a{href: 'http://traffic-light-presentation.herokuapp.com'} http://traffic-light-presentation.herokuapp.com
          %li
            %a{href: 'http://sparkfun.com'} http://sparkfun.com
          %li
            %a{href: 'https://github.com/centro/Sir-Shamealot/'} https://github.com/centro/Sir-Shamealot/

        %p.subtitle
          You can always find me on twitter
          %a{href: 'http://twitter.com/andrewbloom'} @andrewbloom
          or email me at 
          %a{href: 'mailto:andrew@andrewkbloom.com'} andrew@andrewkbloom.com

      #overview.step(data-x="0" data-y="-2000" data-scale='15')

    .hint
      %p Use a spacebar or arrow keys to navigate

    %script{src: "/js/impress.js", type: 'text/javascript'}
