!!! 5
%html
  %head
    %title Notes
    %link{href: 'http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/assets/notes.css', rel: 'stylesheet'}

  %body
    .outer
      .inner
        = yield
