.footnote
  font-size: 75%
  padding-bottom: 10px
  position: absolute
  bottom: 0
  color: gray

a
  color: #00CCFF

h1
  font-size: 150px
  text-align: center
  line-height: 150px

h2
  font-size: 80px
  line-height: 80px
  padding-bottom: 30px

h3
  font-size: 60px
  line-height: 60px
  padding-bottom: 20px

.gist
  font-size: 14px
  line-height: 16px

.slide
  p.subtitle
    margin-top: 25px
    text-align: center

  div.outer
    margin-top: 35px
    div.inner
      margin: auto
      img
        height: auto

  &.bullets
    ul
      list-style-type: disc
      margin-left: 40px
      li
        margin-left: 20px
        padding-bottom: 20px
    p
      font-size: 60px
      line-height: 80px
      padding-bottom: 20px

#first
  h1
    sup
      font-size: 80px
      position: relative
      top: -45px
      left: -30px

#second

#fourth

#fifth
  text-align: center

  b
    display: block
    font-size: 200%

  .footnote
    font-size: 65%
    -webkit-transform: rotate(90deg)
    -moz-transform:    rotate(90deg)
    -ms-transform:     rotate(90deg)
    -o-transform:      rotate(90deg)
    transform:         rotate(90deg)
    top: 0px
    right: 300px

#sixth

#seventh
  p
    padding-bottom: 20px
    text-align: center

    strong
      font-size: 115%

  .footnote
    width: 100%
    margin-left: -60px
    text-align: center

  #uno
    height: 315px
    width: 550px

  #fio
    height: 170px
    width: 500px

  #uno, #fio
    margin: auto
    clear: both
    margin-bottom: 20px

    img
      float: left
      padding-right: 10px

#eigth

#ninth
  strong
    font-size: 120%

  .footnote
    bottom: -100px

#tenth
  div.inner
    width: 470px
    img.relay
      width: 226px

#eleventh
  div.inner
    width: 570px
    img
      width: 460px

#twelfth

#thirteenth
  p
    padding-top: 50px
    span
      display: block
      font-size: 80%
      color: gray

#sixteenth
  div.inner
    width: 500px
    img
      width: 500px

#seventeenth
  p.two
    padding-left: 250px

#eighteenth
  p
    text-align: center
    font-size: 110%

  div.outer
    padding-top: 50px
    div.inner
      width: 400px

#nineteenth
  ul
    padding-top: 20px

  p.subtitle
    font-size: 85%
    line-height: 30px
